/* S U R F E R R E G O S */
/* CHRISTMAS */

.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .header-3OsQeK {
  height: 150px;
  padding: 16px;
  align-items: flex-start;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .header-3OsQeK::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url("https://pa1.narvii.com/6686/ad4d94051d449f97e2824d806658f10d06ee4d19_hq.gif") center/cover no-repeat;
  -webkit-mask: linear-gradient(#f8f8f8, transparent);
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(2) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(2) .container-q97qHp {
  color: #6c0503;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(3) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(3) .container-q97qHp {
  color: #d02a2a;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(4) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(4) .container-q97qHp {
  color: #d02a2a;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(5) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(5) .container-q97qHp {
  color: #ffffff;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(6) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(6) .container-q97qHp {
  color: #828c84;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(7) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(7) .container-q97qHp {
  color: #ffffff;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(8) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(8) .container-q97qHp {
  color: #9f7453;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(9) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(9) .container-q97qHp {
  color: #6c0503;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(10) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(10) .container-q97qHp {
  color: #d02a2a;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(11) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(11) .container-q97qHp {
  color: #828c84;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(12) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(12) .container-q97qHp {
  color: #b7c2c1;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(13) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(13) .container-q97qHp {
  color: #8A0116;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(14) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(14) .container-q97qHp {
  color: #FE9600;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(15) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(15) .container-q97qHp {
  color: #5A755A;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(16) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(16) .container-q97qHp {
  color: #753e69;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(17) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(17) .container-q97qHp {
  color: #57cadf;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(18) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(18) .container-q97qHp {
  color: #41ca41;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(19) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(19) .container-q97qHp {
  color: #2a942a;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(20) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(20) .container-q97qHp {
  color: #115311;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(21) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(21) .container-q97qHp {
  color: #90ca45;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(22) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(22) .container-q97qHp {
  color: #5c37c2;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(23) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(23) .container-q97qHp {
  color: #993a49;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(24) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(24) .container-q97qHp {
  color: #8a2999;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(25) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(25) .container-q97qHp {
  color: #265057;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(26) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(26) .container-q97qHp {
  color: #8A0116;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(27) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(27) .container-q97qHp {
  color: #5A755A;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(28) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(28) .container-q97qHp {
  color: #265057;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(29) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(29) .container-q97qHp {
  color: #9e3487;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(30) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(30) .container-q97qHp {
  color: #8A0116;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(31) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(31) .container-q97qHp {
  color: #5A755A;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(32) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(32) .container-q97qHp {
  color: #77477E;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(33) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(33) .container-q97qHp {
  color: #FE9600;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(34) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(34) .container-q97qHp {
  color: #265057;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(35) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(35) .container-q97qHp {
  color: #9e3487;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(36) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(36) .container-q97qHp {
  color: #77477E;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(37) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(37) .container-q97qHp {
  color: #FE9600;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(38) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(38) .container-q97qHp {
  color: #5A755A;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(39) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(39) .container-q97qHp {
  color: #5A755A;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(40) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(40) .container-q97qHp {
  color: #5A755A;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(41) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(41) .container-q97qHp {
  color: #265057;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(42) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(42) .container-q97qHp {
  color: #9e3487;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(43) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(43) .container-q97qHp {
  color: #77477E;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(44) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(44) .container-q97qHp {
  color: #5A755A;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(45) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(45) .container-q97qHp {
  color: #FE9600;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(46) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(46) .container-q97qHp {
  color: #FE9600;
}
.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(47) .icon-2W8DHg, .container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] .content-2a4AW9 > :nth-child(47) .container-q97qHp {
  color: #265057;
}



/*Vaina de controles*/


.container-1NXEtd[aria-label^="❄ SNOWFERREGOS ❄"] + .panels-3wFtMD > .container-YkUktl .button-12Fmur {
  color: #f7630c !important;
}
.headerButton-1nmDZ3[aria-label^="❄ SNOWFERREGOS ❄"]::before {
  content: "";
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 1920px;
  height: 1080px;
  background: url("https://i.ibb.co/j84HmHt/Pngtree-romantic-fantasy-snowflake-shades-for-4059173.png") center/100% no-repeat;
  pointer-events: none;
  opacity: 0.3;
  transform: scaleX(1) scaleY(1);
}
.blobContainer-pmnxKB[data-dnd-name="❄ SNOWFERREGOS ❄"]:hover .icon-3AqZ2e[src^=""] {
  content: url("");
}



/* R A N D O M */


.headerButton-1nmDZ3[aria-label^="❄ SNOWFERREGOS ❄"]::after {
  content: "";
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 250px;
  height: 300px;
  background: url("https://i.ibb.co/qC0WKLy/pngwing-com.png") center/100% no-repeat;
  pointer-events: none;
  opacity: 0.333;
}
