/* COSO PARA WEAS BIEN BOMNITAS DEL SPOOKY MONTH */

.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .header-2V-4Sw {
  height: 150px;
  padding: 16px;
  align-items: flex-start;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .header-2V-4Sw::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url("https://c.tenor.com/A8xzzuU6LJ4AAAAd/the-skeleton-dance-spooky.gif") center/cover no-repeat;
  -webkit-mask: linear-gradient(#161515, transparent);
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(2) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(2) .container-2ax-kl {
  color: #77477E;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(3) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(3) .container-2ax-kl {
  color: #FE9600;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(4) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(4) .container-2ax-kl {
  color: #8A0116;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(5) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(5) .container-2ax-kl {
  color: #265057;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(6) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(6) .container-2ax-kl {
  color: #5A755A;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(7) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(7) .container-2ax-kl {
  color: #FE9600;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(8) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(8) .container-2ax-kl {
  color: #9e3487;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(9) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(9) .container-2ax-kl {
  color: #265057;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(10) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(10) .container-2ax-kl {
  color: #77477E;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(11) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(11) .container-2ax-kl {
  color: #265057;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(12) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(12) .container-2ax-kl {
  color: #FE9600;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(13) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(13) .container-2ax-kl {
  color: #8A0116;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(14) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(14) .container-2ax-kl {
  color: #FE9600;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(15) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(15) .container-2ax-kl {
  color: #5A755A;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(16) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(16) .container-2ax-kl {
  color: #9e3487;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(17) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(17) .container-2ax-kl {
  color: #265057;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(18) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(18) .container-2ax-kl {
  color: #5A755A;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(19) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(19) .container-2ax-kl {
  color: #5A755A;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(20) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(20) .container-2ax-kl {
  color: #5A755A;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(21) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(21) .container-2ax-kl {
  color: #FE9600;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(22) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(22) .container-2ax-kl {
  color: #9e3487;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(23) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(23) .container-2ax-kl {
  color: #8A0116;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(24) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(24) .container-2ax-kl {
  color: #77477E;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(25) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(25) .container-2ax-kl {
  color: #265057;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(26) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(26) .container-2ax-kl {
  color: #8A0116;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(27) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(27) .container-2ax-kl {
  color: #5A755A;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(28) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(28) .container-2ax-kl {
  color: #265057;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(29) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(29) .container-2ax-kl {
  color: #9e3487;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(30) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(30) .container-2ax-kl {
  color: #8A0116;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(31) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(31) .container-2ax-kl {
  color: #5A755A;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(32) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(32) .container-2ax-kl {
  color: #77477E;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(33) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(33) .container-2ax-kl {
  color: #FE9600;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(34) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(34) .container-2ax-kl {
  color: #265057;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(35) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(35) .container-2ax-kl {
  color: #9e3487;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(36) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(36) .container-2ax-kl {
  color: #77477E;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(37) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(37) .container-2ax-kl {
  color: #FE9600;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(38) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(38) .container-2ax-kl {
  color: #5A755A;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(39) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(39) .container-2ax-kl {
  color: #5A755A;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(40) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(40) .container-2ax-kl {
  color: #5A755A;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(41) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(41) .container-2ax-kl {
  color: #265057;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(42) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(42) .container-2ax-kl {
  color: #9e3487;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(43) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(43) .container-2ax-kl {
  color: #77477E;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(44) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(44) .container-2ax-kl {
  color: #5A755A;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(45) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(45) .container-2ax-kl {
  color: #FE9600;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(46) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(46) .container-2ax-kl {
  color: #FE9600;
}
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] .content-3YMskv > :nth-child(47) .icon-1DeIlz, .container-3w7J-x[aria-label^="SPOOKY CHAFALAND"] .content-3YMskv > :nth-child(47) .container-2ax-kl {
  color: #265057;
}

/*Vaina de controles*/
.container-3w7J-x[aria-label^="SPOOKYRREGOS"] + .panels-j1Uci_ > .container-3baos1 .button-14-BFJ {
  color: #f7630c !important;
}
.headerButton-3in1-b[aria-label^="SPOOKYRREGOS"]::before {
  content: "";
  position: fixed;
  left: -31px;
  bottom: 1px;
  width: 200px;
  height: 200px;
  background: url("https://i.imgur.com/Onsi6Ft.png") center/100% no-repeat;
  pointer-events: none;
  opacity: 0.7;
  transform: scaleX(-1) scaleY(-1);
}
.blobContainer-pmnxKB[data-dnd-name="SPOOKY CHAFALAND"]:hover .icon-27yU2q[src^=""] {
  content: url("https://cdn.dribbble.com/users/2621850/screenshots/10885514/media/3eb61d9f3b35f3811ed85bfee428cf07.gif");
}

/*R A N D O M*/
.headerButton-3in1-b[aria-label^="SPOOKYRREGOS"]::after {
  content: "";
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 230px;
  height: 225px;
  background: url("https://i.postimg.cc/h4dLhdbZ/pngegg.png") center/100% no-repeat;
  pointer-events: none;
}